* {
 background: #2c2f33;
}

.header {
  background: #99aab5;
  color: #ffffff;
}

header:hover {
  color: #7289da;
}

.welcome {
  color: #ffffff;
}

.discord {
  color: #ffffff;
}

.partof {
  color: #7289da;
}

.linkgame {
  color: #ffffff;
}

.statusmessage {
  color: #ffffff;
}

.version {
 color: #dfbbbb;
}
